body {
    background-color: rgb(231, 230, 210);
    color: rgb(36, 34, 34);
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

a:hover {
    color: red;
}

a {
    color: brown;
}

h1, h2, h3, th {
    color: darkolivegreen;
}

.skill-group {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    width: 20px;
}

table, th, td {
    border: 1px solid darkolivegreen;
    border-collapse: collapse;
}