{% extends 'base.html' %}
{% block content %}
<form>
{% csrf_token %}
    <h2>General information</h2>
        <p>
            <label for="clan">Clan</label>
            <input id="clan" type="text" name="clan">
        </p>
        <p>
            <label for="family">Family</label>
            <input id="family" type="text" name="family">
        </p>
        <p>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
        </p>
        <p>
            <label for="ninjo">Ninjo</label>
            <input id="ninjo" type="text" name="ninjo">
        </p>
        <p>
            <label for="giri">Giri</label>
            <input id="giri" type="text" name="giri">
        </p>
    <h2>Rings</h2>
        <p>
            <label for="air">Air</label>
            <input id="air" type="number" name="air" value="1" max="5" min="1">
        </p>
        <p>
            <label for="earth">Earth</label>
            <input id="earth" type="number" name="earth" value="1" max="5" min="1">
        </p>
        <p>
            <label for="fire">Fire</label>
            <input id="fire" type="number" name="fire" value="1" max="5" min="1">
        </p>
        <p>
            <label for="water">Water</label>
            <input id="water" type="number" name="water" value="1" max="5" min="1">
        </p>
        <p>
            <label for="void">Void</label>
            <input id="void" type="number" name="void" value="1" max="5" min="1">
        </p>
    <h2>Skills</h2>
        <p>
            <label for="aesthetics">Aesthetics</label>
            <input id="aesthetics" type="number" name="aesthetics" value="0" max="5" min="0">
        </p>
        <p>
            <label for="composition">Composition</label>
            <input id="composition" type="number" name="composition" value="0" max="5" min="0">
        </p>
        <p>
            <label for="design">Design</label>
            <input id="design" type="number" name="design" value="0" max="5" min="0">
        </p>
        <p>
            <label for="smithing">Smithing</label>
            <input id="smithing" type="number" name="smithing" value="0" max="5" min="0">
        </p>
        <p>
            <label for="fitness">Fitness</label>
            <input id="fitness" type="number" name="fitness" value="0" max="5" min="0">
        </p>
        <p>
            <label for="meditation">Meditation</label>
            <input id="meditation" type="number" name="meditation" value="0" max="5" min="0">
        </p>
        <p>
            <label for="tactics">Tactics</label>
            <input id="tactics" type="number" name="tactics" value="0" max="5" min="0">
        </p>
        <p>
            <label for="melee">Martial Arts Melee</label>
            <input id="melee" type="number" name="melee" value="0" max="5" min="0">
        </p>
        <p>
            <label for="ranged">Martial Arts Ranged</label>
            <input id="ranged" type="number" name="ranged" value="0" max="5" min="0">
        </p>
        <p>
            <label for="unarmed">Martial Arts Unarmed</label>
            <input id="unarmed" type="number" name="unarmed" value="0" max="5" min="0">
        </p>
        <p>
            <label for="command">Command</label>
            <input id="command" type="number" name="command" value="0" max="5" min="0">
        </p>
        <p>
            <label for="courtesy">Courtesy</label>
            <input id="courtesy" type="number" name="courtesy" value="0" max="5" min="0">
        </p>
        <p>
            <label for="games">Games</label>
            <input id="games" type="number" name="games" value="0" max="5" min="0">
        </p>
        <p>
            <label for="performance">Performance</label>
            <input id="performance" type="number" name="performance" value="0" max="5" min="0">
        </p>
        <p>
            <label for="culture">Culture</label>
            <input id="culture" type="number" name="culture" value="0" max="5" min="0">
        </p>
        <p>
            <label for="government">Government</label>
            <input id="government" type="number" name="government" value="0" max="5" min="0">
        </p>
        <p>
            <label for="sentiment">Sentiment</label>
            <input id="sentiment" type="number" name="sentiment" value="0" max="5" min="0">
        </p>
        <p>
            <label for="theology">Theology</label>
            <input id="theology" type="number" name="theology" value="0" max="5" min="0">
        </p>
        <p>
            <label for="medicine">Medicine</label>
            <input id="medicine" type="number" name="medicine" value="0" max="5" min="0">
        </p>
        <p>
            <label for="commerce">Commerce</label>
            <input id="commerce" type="number" name="commerce" value="0" max="5" min="0">
        </p>
        <p>
            <label for="labour">Labour</label>
            <input id="labour" type="number" name="labour" value="0" max="5" min="0">
        </p>
        <p>
            <label for="seafaring">Seafaring</label>
            <input id="seafaring" type="number" name="seafaring" value="0" max="5" min="0">
        </p>
        <p>
            <label for="skullduggery">Skullduggery</label>
            <input id="skullduggery" type="number" name="skullduggery" value="0" max="5" min="0">
        </p>
        <p>
            <label for="survival">Survival</label>
            <input id="survival" type="number" name="survival" value="0" max="5" min="0">
        </p>
    <h2>Social Attributes</h2>
        <p>
            <label for="honor">Honor</label>
            <input id="honor" type="number" name="honor" value="50" max="100" min="0">
        </p>
        <p>
            <label for="glory">Glory</label>
            <input id="glory" type="number" name="glory" value="50" max="100" min="0">
        </p>
        <p>
            <label for="status">Status</label>
            <input id="status" type="number" name="status" value="50" max="100" min="0">
        </p>
        <p>
            <input type="submit" value="save">
        </p>
</form>
{% endblock %}