{% extends 'base.html' %}
{% block content %}
<h3>{{ character.family }} {{ character.name }}</h3>

<div class="main-container">
    <div class="sub-container">
        <table>
            <tr>
                <th colspan="3">Skills</th>
            </tr>
            <tr>
                <th rowspan="4" class="skill-group">Artisan</th>
                <td>Aesthetics</td>
                <td> {{ character.aesthetics }} </td>
            </tr>
            <tr>
                <td>Composition</td>
                <td> {{ character.composition }} </td>
            </tr>
            <tr>
                <td>Design</td>
                <td> {{ character.design }} </td>
            </tr>
            <tr>
                <td>Smithing</td>
                <td>{{ character.smithing }}</td>
            </tr>
            <tr>
                <th rowspan="6" class="skill-group">Martial</th>
                <td>Fitness</td>
                <td>{{ character.fitness }}</td>
            </tr>
            <tr>
                <td>Meditation</td>
                <td>{{ character.meditation }}</td>
            </tr>
            <tr>
                <td>Tactics</td>
                <td>{{ character.tactics }}</td>
            </tr>
            <tr>
                <td>Martial Arts Melee</td>
                <td>{{ character.melee }}</td>
            </tr>
            <tr>
                <td>Martial Arts Ranged</td>
                <td>{{ character.ranged }}</td>
            </tr>
            <tr>
                <td>Martial Arts Unarmed</td>
                <td>{{ character.unarmed }}</td>
            </tr>
            <tr>
                <th rowspan="4" class="skill-group">Social</th>
                <td>Command</td>
                <td>{{ character.command }}</td>
            </tr>
            <tr>
                <td>Courtesy</td>
                <td>{{ character.courtesy }}</td>
            </tr>
            <tr>
                <td>Games</td>
                <td>{{ character.games }}</td>
            </tr>
            <tr>
                <td>Performance</td>
                <td>{{ character.performance }}</td>
            </tr>
            <tr>
                <th rowspan="5" class="skill-group">Scholar</th>
                <td>Culture</td>
                <td>{{ character.culture }}</td>
            </tr>
            <tr>
                <td>Government</td>
                <td>{{ character.government }}</td>
            </tr>
            <tr>
                <td>Sentiment</td>
                <td>{{ character.sentiment }}</td>
            </tr>
            <tr>
                <td>Theology</td>
                <td>{{ character.theology }}</td>
            </tr>
            <tr>
                <td>Medicine</td>
                <td>{{ character.medicine }}</td>
            </tr>
            <tr>
                <th rowspan="5" class="skill-group">Trade</th>
                <td>Commerce</td>
                <td>{{ character.commerce }}</td>
            </tr>
            <tr>
                <td>Labour</td>
                <td>{{ character.labour }}</td>
            </tr>
            <tr>
                <td>Seafaring</td>
                <td>{{ character.seafaring }}</td>
            </tr>
            <tr>
                <td>Skullduggery</td>
                <td>{{ character.skullduggery }}</td>
            </tr>
            <tr>
                <td>Survival</td>
                <td>{{ character.survival }}</td>
            </tr>
        </table>
        <div>
            <h3>Notes</h3>
            <div class="note-field">{{ character.notes }}</div>
        </div>
    </div>
    <div class="border"></div>
    <div class="sub-container">
        <div>
            <table class="sheet-table">
                <tr>
                    <th colspan="2">Rings</th>
                </tr>
                <tr>
                    <td>Earth</td>
                    <td>{{ character.earth }}</td>
                </tr>
                <tr>
                    <td>Air</td>
                    <td>{{ character.air }}</td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>{{ character.water }}</td>
                </tr>
                <tr>
                    <td>Fire</td>
                    <td>{{ character.fire }}</td>
                </tr>
                <tr>
                    <td>Void</td>
                    <td>{{ character.void }}</td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <table class="sheet-table">
                <tr>
                    <th colspan="2">Social Atributes</th>
                </tr>
                <tr>
                    <td>Honor</td>
                    <td>{{ character.honor }}</td>
                </tr>
                <tr>
                    <td>Glory</td>
                    <td>{{ character.glory }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ character.status }}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Ninjo</h3>
            <p>{{ character.ninjo }}</p>
        </div>
        <div>
            <h3>Giri</h3>
            <p>{{ character.giri }}</p>
        </div>
        <div>
            <h3>Available Techniques</h3>
            <p>{{ character.technique_categories }}</p>
        </div>
        <div>
            <h3>Distinctions</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Distinction' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Adversities</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Adversity' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Passions</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Passion' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Anxieties</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Anxiety' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="border"></div>
    <div class="sub-container">
        <div>
            <table class="sheet-table">
                <tr>
                    <th colspan="3">Atributes</th>
                </tr>
                <tr>
                    <th>Endurance</th>
                    <td>
                        <textarea class="plain">{{ endurance }}</textarea>
                    </td>
                    <td>
                        <textarea class="plain">0</textarea>
                    </td>
                </tr>

                <tr>
                    <th>Composure</th>
                    <td>
                        <textarea class="plain">{{ composure }}</textarea>
                    </td>
                    <td>
                        <textarea class="plain">0</textarea>
                    </td>
                </tr>
                <tr>
                    <th>Focus</th>
                    <td colspan="2">
                        <textarea class="plain">{{ focus }}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>Vigilance</th>
                    <td colspan="2">
                        <textarea class="plain">{{ vigilance }}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>Void Points</th>
                    <td colspan="2">
                        <textarea class="plain">{{ void_points }}</textarea>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <table>
                <tr>
                    <th colspan="3">Armor</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Protection (Resitance)</th>
                    <th>Qualities</th>
                </tr>
                {% for armor in character.armor.all %}
                <tr>
                    <td>{{ armor.name }}</td>
                    <td>{{ armor.physical_resistance }}({{ armor.supernatural_resistance }})</td>
                    <td>
                        {% if none in armor.qualities.all %}
                        -
                        {% elif none not in armor.qualities.all %}
                        {% for quality in armor.qualities.all %}
                        {{ quality.name }}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div>
            <table>
                <tr>
                    <th colspan="6">Weapons</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>rng</th>
                    <th>dmg<br>dls</th>
                    <th>Grips</th>
                    <th>Qualities</th>
                    <th>Other
                        Abilities</th>
                </tr>
                {% for weapon in character.weapons.all %}
                <tr>
                    <td>{{ weapon.name }}</td>
                    <td>{{ weapon.range }}</td>
                    <td>{{ weapon.damage }}({{ weapon.deadliness}})</td>
                    <td>
                        {% if weapon.one_hand != 'X' %}1 handed ({{ weapon.one_hand }}){% endif %}<br>{% if weapon.two_hand != X %}2 handed ({{ weapon.two_hand }}){% endif %}
                    </td>
                    <td>
                        {% if none in weapon.qualities.all %}
                        -
                        {% elif none not in weapon.qualities.all %}
                        {% for quality in weapon.qualities.all %}
                        {{ quality.name }}
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if weapon.quirks == 'X' %}
                        None
                        {% elif weapon.quirks != 'X' %}
                        {{ weapon.quirks }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div><a href="/account/">Return</a></div>
<div><a href="/account/character/{{ character.id }}/edit/">Edit</a></div>
<div><a href="/account/character/{{ character.id }}/delete/">Delete</a></div>
{% endblock %}