{% extends 'base.html' %}
{% block content %}
<form action="/account/character/create/" method="post">
{% csrf_token %}
    <h2>General information</h2>
        <p>
            <label for="clan">Clan</label>
        </p>
        <p>
            <input list="clan-list" id="clan" name="clan" required="required">
            <datalist id="clan-list">
                <option value="Crab">Crab</option>
                <option value="Crane">Crane</option>
                <option value="Dragon">Dragon</option>
                <option value="Lion">Lion</option>
                <option value="Phoenix">Phoenix</option>
                <option value="Scorpion">Scorpion</option>
                <option value="Unicorn">Unicorn</option>
            </datalist>
        </p>
        <p>
            <label for="family">Family</label>
        </p>
        <p>
            <input id="family" type="text" name="family" required="required">
        </p>
        <p>
            <label for="name">Name</label>
        </p>
        <p>
            <input id="name" type="text" name="name" required="required">
        </p>
        <p>
            <label for="school">School</label>
        </p>
        <p>
            <input id="school" type="text" name="school" required="required">
        </p>
        <p>
            Available Techniques
        </p>
        <div class="main-container">
            <div>
                <p>
                    <input type="checkbox" id="Kata" name="technique_categories" value="Kata">
                    <label for="Kata">Kata</label>
                </p>
                <p>
                    <input type="checkbox" id="Kihō" name="technique_categories" value="Kihō">
                    <label for="Kihō">Kihō</label>
                </p>
                <p>
                    <input type="checkbox" id="Invocations" name="technique_categories" value="Invocations">
                    <label for="Invocations">Invocations</label>
                </p>
                <p>
                    <input type="checkbox" id="Rituals" name="technique_categories" value="Rituals">
                    <label for="Rituals">Rituals</label>
                </p>
            </div>
            <div>
                <p>
                    <input type="checkbox" id="Shūji" name="technique_categories" value="Shūji">
                    <label for="Shūji">Shūji</label>
                </p>
                <p>
                    <input type="checkbox" id="Mahō" name="technique_categories" value="Mahō">
                    <label for="Mahō">Mahō</label>
                </p>
                <p>
                    <input type="checkbox" id="Ninjutsu" name="technique_categories" value="Ninjutsu">
                    <label for="Ninjutsu">Ninjutsu</label>
                </p>
            </div>
        </div>
        <p>
            <label for="ninjo">Ninjo</label>
        </p>
        <p>
            <input id="ninjo" type="text" name="ninjo" required="required">
        </p>
        <p>
            <label for="giri">Giri</label>
        </p>
        <p>
            <input id="giri" type="text" name="giri" required="required">
        </p>
        <p>
            <label for="notes">Notes</label>
        </p>
        <p>
            <textarea id="notes" type="text" name="notes" rows="10" cols="50"></textarea>
        </p>
    <h2>Rings</h2>
        <p>
            <label for="air">Air</label>
        </p>
        <p>
            <input id="air" type="number" name="air" value="1" max="5" min="1">
        </p>
        <p>
            <label for="earth">Earth</label>
        </p>
        <p>
            <input id="earth" type="number" name="earth" value="1" max="5" min="1">
        </p>
        <p>
            <label for="fire">Fire</label>
        </p>
        <p>
            <input id="fire" type="number" name="fire" value="1" max="5" min="1">
        </p>
        <p>
            <label for="water">Water</label>
        </p>
        <p>
            <input id="water" type="number" name="water" value="1" max="5" min="1">
        </p>
        <p>
            <label for="void">Void</label>
        </p>
        <p>
            <input id="void" type="number" name="void" value="1" max="5" min="1">
        </p>
    <h2>Skills</h2>
        <p>
            <label for="aesthetics">Aesthetics</label>
        </p>
        <p>
            <input id="aesthetics" type="number" name="aesthetics" value="0" max="5" min="0">
        </p>
        <p>
            <label for="composition">Composition</label>
        </p>
        <p>
            <input id="composition" type="number" name="composition" value="0" max="5" min="0">
        </p>
        <p>
            <label for="design">Design</label>
        </p>
        <p>
            <input id="design" type="number" name="design" value="0" max="5" min="0">
        </p>
        <p>
            <label for="smithing">Smithing</label>
        </p>
        <p>
            <input id="smithing" type="number" name="smithing" value="0" max="5" min="0">
        </p>
        <p>
            <label for="fitness">Fitness</label>
        </p>
        <p>
            <input id="fitness" type="number" name="fitness" value="0" max="5" min="0">
        </p>
        <p>
            <label for="meditation">Meditation</label>
        </p>
        <p>
            <input id="meditation" type="number" name="meditation" value="0" max="5" min="0">
        </p>
        <p>
            <label for="tactics">Tactics</label>
        </p>
        <p>
            <input id="tactics" type="number" name="tactics" value="0" max="5" min="0">
        </p>
        <p>
            <label for="melee">Martial Arts Melee</label>
        </p>
        <p>
            <input id="melee" type="number" name="melee" value="0" max="5" min="0">
        </p>
        <p>
            <label for="ranged">Martial Arts Ranged</label>
        </p>
        <p>
            <input id="ranged" type="number" name="ranged" value="0" max="5" min="0">
        </p>
        <p>
            <label for="unarmed">Martial Arts Unarmed</label>
        </p>
        <p>
            <input id="unarmed" type="number" name="unarmed" value="0" max="5" min="0">
        </p>
        <p>
            <label for="command">Command</label>
        </p>
        <p>
            <input id="command" type="number" name="command" value="0" max="5" min="0">
        </p>
        <p>
            <label for="courtesy">Courtesy</label>
        </p>
        <p>
            <input id="courtesy" type="number" name="courtesy" value="0" max="5" min="0">
        </p>
        <p>
            <label for="games">Games</label>
        </p>
        <p>
            <input id="games" type="number" name="games" value="0" max="5" min="0">
        </p>
        <p>
            <label for="performance">Performance</label>
        </p>
        <p>
            <input id="performance" type="number" name="performance" value="0" max="5" min="0">
        </p>
        <p>
            <label for="culture">Culture</label>
        </p>
        <p>
            <input id="culture" type="number" name="culture" value="0" max="5" min="0">
        </p>
        <p>
            <label for="government">Government</label>
        </p>
        <p>
            <input id="government" type="number" name="government" value="0" max="5" min="0">
        </p>
        <p>
            <label for="sentiment">Sentiment</label>
        </p>
        <p>
            <input id="sentiment" type="number" name="sentiment" value="0" max="5" min="0">
        </p>
        <p>
            <label for="theology">Theology</label>
        </p>
        <p>
            <input id="theology" type="number" name="theology" value="0" max="5" min="0">
        </p>
        <p>
            <label for="medicine">Medicine</label>
        </p>
        <p>
            <input id="medicine" type="number" name="medicine" value="0" max="5" min="0">
        </p>
        <p>
            <label for="commerce">Commerce</label>
        </p>
        <p>
            <input id="commerce" type="number" name="commerce" value="0" max="5" min="0">
        </p>
        <p>
            <label for="labour">Labour</label>
        </p>
        <p>
            <input id="labour" type="number" name="labour" value="0" max="5" min="0">
        </p>
        <p>
            <label for="seafaring">Seafaring</label>
        </p>
        <p>
            <input id="seafaring" type="number" name="seafaring" value="0" max="5" min="0">
        </p>
        <p>
            <label for="skullduggery">Skullduggery</label>
        </p>
        <p>
            <input id="skullduggery" type="number" name="skullduggery" value="0" max="5" min="0">
        </p>
        <p>
            <label for="survival">Survival</label>
        </p>
        <p>
            <input id="survival" type="number" name="survival" value="0" max="5" min="0">
        </p>
    <h2>Social Attributes</h2>
        <p>
            <label for="honor">Honor</label>
        </p>
        <p>
            <input id="honor" type="number" name="honor" value="50" max="100" min="0">
        </p>
        <p>
            <label for="glory">Glory</label>
        </p>
        <p>
            <input id="glory" type="number" name="glory" value="50" max="100" min="0">
        </p>
        <p>
            <label for="status">Status</label>
        </p>
        <p>
            <input id="status" type="number" name="status" value="50" max="100" min="0">
        </p>
    <h2>Distinctions</h2> 
        <div class="traits">
                {% for trait in traits %}
                    {% if trait.category == 'Distinction' %}
                    <p>
                        <input type="checkbox" id="{{ trait.id }}" name="traits" value="{{ trait.name }}">
                        <label for="{{ trait.name }}">{{ trait.name }} [{{ trait.ring }}]</label>
                    </p>
                    {% endif %}
                {% endfor %}
        </div>
    <h2>Adversities</h2>
        <div class="traits">
            {% for trait in traits %}
                {% if trait.category == 'Adversity' %}
                <p>
                    <input type="checkbox" id="{{ trait.id }}" name="traits" value="{{ trait.name }}">
                    <label for="{{ trait.name }}">{{ trait.name }} [{{ trait.ring }}]</label>
                </p>
                {% endif %}
            {% endfor %}
        </div>
    <h2>Passions</h2>
        <div class="traits">
            {% for trait in traits %}
                {% if trait.category == 'Passion' %}
                <p>
                    <input type="checkbox" id="{{ trait.id }}" name="traits" value="{{ trait.name }}">
                    <label for="{{ trait.name }}">{{ trait.name }} [{{ trait.ring }}]</label>
                </p>
                {% endif %}
            {% endfor %}
        </div>
    <h2>Anxieties</h2>
        <div class="traits">
            {% for trait in traits %}
                {% if trait.category == 'Anxiety' %}
                <p>
                    <input type="checkbox" id="{{ trait.id }}" name="traits" value="{{ trait.name }}">
                    <label for="{{ trait.name }}">{{ trait.name }} [{{ trait.ring }}]</label>
                </p>
                {% endif %}
            {% endfor %}
        </div>
        <p>
            <input type="submit" value="Save Character" class="button">
        </p>
</form>
{% endblock %}