{% extends 'base.html' %}
{% block content %}
<div class="main-container">
    <div>
        <table>
            <tr>
                <th colspan="3">Skills</th>
            </tr>
            <tr>
                <th rowspan="4" class="skill-group">Artisan</th>
                <td>Aesthetics</td>
                <td>{{ character.aesthetics }}</td>
            </tr>
            <tr>
                <td>Composition</td>
                <td>{{ character.composition }}</td>
            </tr>
            <tr>
                <td>Design</td>
                <td>{{ character.design }}</td>
            </tr>
            <tr>
                <td>Smithing</td>
                <td>{{ character.smithing }}</td>
            </tr>
            <tr>
                <th rowspan="6" class="skill-group">Martial</th>
                <td>Fitness</td>
                <td>{{ character.fitness }}</td>
            </tr>
            <tr>
                <td>Meditation</td>
                <td>{{ character.meditation }}</td>
            </tr>
            <tr>
                <td>Tactics</td>
                <td>{{ character.tactics }}</td>
            </tr>
            <tr>
                <td>Martial Arts Melee</td>
                <td>{{ character.melee }}</td>
            </tr>
            <tr>
                <td>Martial Arts Ranged</td>
                <td>{{ character.ranged }}</td>
            </tr>
            <tr>
                <td>Martial Arts Unarmed</td>
                <td>{{ character.unarmed }}</td>
            </tr>
            <tr>
                <th rowspan="4" class="skill-group">Social</th>
                <td>Command</td>
                <td>{{ character.command }}</td>
            </tr>
            <tr>
                <td>Courtesy</td>
                <td>{{ character.courtesy }}</td>
            </tr>
            <tr>
                <td>Games</td>
                <td>{{ character.games }}</td>
            </tr>
            <tr>
                <td>Performance</td>
                <td>{{ character.performance }}</td>
            </tr>
            <tr>
                <th rowspan="5" class="skill-group">Scholar</th>
                <td>Culture</td>
                <td>{{ character.culture }}</td>
            </tr>
            <tr>
                <td>Government</td>
                <td>{{ character.government }}</td>
            </tr>
            <tr>
                <td>Sentiment</td>
                <td>{{ character.sentiment }}</td>
            </tr>
            <tr>
                <td>Theology</td>
                <td>{{ character.theology }}</td>
            </tr>
            <tr>
                <td>Medicine</td>
                <td>{{ character.medicine }}</td>
            </tr>
            <tr>
                <th rowspan="5" class="skill-group">Trade</th>
                <td>Commerce</td>
                <td>{{ character.commerce }}</td>
            </tr>
            <tr>
                <td>Labour</td>
                <td>{{ character.labour }}</td>
            </tr>
            <tr>
                <td>Seafaring</td>
                <td>{{ character.seafaring }}</td>
            </tr>
            <tr>
                <td>Skullduggery</td>
                <td>{{ character.skullduggery }}</td>
            </tr>
            <tr>
                <td>Survival</td>
                <td>{{ character.survival }}</td>
            </tr>
        </table>
    </div>
    <div>
        <div>
            <table>
                <tr>
                    <th colspan="2">Rings</th>
                </tr>
                <tr>
                    <td>Earth</td>
                    <td>{{ character.earth }}</td>
                </tr>
                <tr>
                    <td>Air</td>
                    <td>{{ character.air }}</td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>{{ character.water }}</td>
                </tr>
                <tr>
                    <td>Fire</td>
                    <td>{{ character.fire }}</td>
                </tr>
                <tr>
                    <td>Void</td>
                    <td>{{ character.void }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>Honor</td>
                    <td>{{ character.honor }}</td>
                </tr>
                <tr>
                    <td>Glory</td>
                    <td>{{ character.glory }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ character.status }}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Ninjo</h3>
            <p>{{ character.ninjo }}</p>
        </div>
        <div>
            <h3>Giri</h3>
            <p>{{ character.giri }}</p>
        </div>
        <div>
            <h3>Available Techniques</h3>
            <p>{{ character.technique_categories }}</p>
        </div>
        <div>
            <h3>Distinctions</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Distinction' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Adversities</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Adversity' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Passions</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Passion' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h3>Anxieties</h3>
            {% for element in character.traits.all %}
                {% if element.category == 'Anxiety' %}
            <p>{{ element.name }} ({{ element.ring }})</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div><a href="/account/">Return</a></div>
<div><a href="/account/character/{{ character.id }}/edit/">Edit</a></div>
<div><a href="/account/character/{{ character.id }}/delete/">Delete</a></div>
{% endblock %}