{% extends 'base.html' %}
{% block content %}
    <h1>Welcome {{ username }}</h1>
    <p><a href="/account/character/create/">Create new character</a></p>
    <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Clan</th>
                <th>School</th>
            </tr>
        {% for character in characters %}
            <tr>
                <td><a href="/account/character/{{ character.id }}/">more</a></td>
                <td>{{ character.family }} {{ character.name }}</td>
                <td>{{ character.clan }}</td>
                <td>{{ character.school }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="/account/" method="post">
    {% csrf_token %}
        <input type="submit" value="logout">
    </form>
    <br>
    <a href="/account/delete/">Delete Account</a>
{% endblock %}