{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Welcome {{ username }}</h1>
    <table>
            <tr>
                <th>Name</th>
                <th>Clan</th>
                <th>School</th>
            </tr>
        {% for character in characters %}
            <tr>
                <td><a href="/account/character/{{ character.id }}/">{{ character.family }} {{ character.name }}</a></td>
                <td>{{ character.clan }}</td>
                <td>{{ character.school }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/account/character/create/">Create new character</a>
    <form action="/account/" method="post">
    {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    <a href="/account/delete/">Delete Account</a>
{% endblock %}